.square {        
    background-color: white;    
    grid-column: auto;
    grid-row: auto;
    color: blue;
    font-family: sans-serif;
    font-size: 5em;
    display: flex;   
    justify-content: center;
    align-items: center;
}

#board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    row-gap: 10px;
    column-gap: 10px;
    background-color: red;    
}

h1 {
    text-align: center;
}

#controls {
    margin: 20px auto 20px auto;
    display: grid;
    width: 400px;   
}